body {
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	color: black;
	font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	text-transform: uppercase;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

.container {
	width: 1200px;
	/*позиционирование по центру*/
	margin: 0 auto; 
}


.header{
    background-color: #86F9FC;
    font-size: 20px;
}

.header a{
    color: black;
    text-decoration: none;
}

.ugol{
    display: flex;
    align-items: center;
}

.menu{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.logo{
    margin-right: 13px;
}

.menu li{
    margin-left: 24px;
}

.IMG{
    float: right;
}

.indent, .title{
    float: left;
    margin-left: 100px;
    width: 510px;
}

.title{
    font-size: 26px;
    font-weight: bold;
}







button {
    height: 42px;
	border: none;
	background: #3a7999;
	color: #f2f2f2;
	padding: 10px;
	font-size: 18px;
	border-radius: 5px;
	position: relative;
	box-sizing: border-box;


	transition: all 500ms ease; 

    
}



button:hover {
	background: rgba(0,0,0,0);
	color: #3a7999;
	box-shadow: inset 0 0 0 3px #3a7999;
}







.title{
    margin-bottom: 41px;
}

.tabl{
    padding-top: 50px;
}

.indent ul li{
    margin-bottom: 41px;
}

.indent a{
    color: black;
}

/* че делать с боковушками!? */
/* .about{
    font-size: 24px;
    background-color: #05D3F3;
    background-image: url(img\wave.png);
    background-repeat: repeat-y;
    background-position-x: left;
} */
/* че делать с боковушками!? */

.about{
    font-size: 24px;
    background-color: #05D3F3;
    min-height: calc(100vh - 20px);
}



.footer{
    background-color: #FCD7A2;
    height: 70px;
    position: fixed;
    left: 0; bottom: 0; right: 0;
}

.foot ul{
    padding-top: 10px;
    display: flex;
    align-items: center;
}

.icon{
    margin-left: 5px;
}

.proj{
    margin-left: auto;
}

.foot ul a{
    text-decoration: none;
    color: black;
}

.choice ul{
    text-align: center;
}

.floor{
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 26px;
    font-weight: bold;
}

.choice ul li{
    padding-bottom: 20px;
}

.choice a{
    text-decoration: none;
    color: black;
}

.nav{
    display: flex;
    align-items: center;
    height: 70px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    background: #86F9FC;  
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 460px;
}

.list-menu{
    display: flex;
    list-style: none;
}

.list-menu > li > a{
    color: black;
    display: block;
    padding: 5px 15px;
}

.list-menu > li > a:hover{
    background: #86F9FC;
}
  
#btn-menu{
    display: none;
}
#btn-menu + label{
    display: none; 
    position: relative;
    color: black; 
    height: 20px;
    z-index: 1;
    cursor: pointer;
}
#btn-menu + label:before{
    content: '\f0c9';  
    display: inline-block;
    font-family:'FontAwesome';
    font-size: 22px;
}
#btn-menu:checked + label:before{
    margin-left: auto;
    margin-top: 160px;
    content: '\f00d';
    color: black;
}

.ship1{
    display: none;
}


.floor_1, .floor_2, .floor_3, .floor_4, .floor_5, .floor_6{
    margin-top: 25px;
    width: 500px;
    margin-left: 350px;
}


.about1{
    font-size: 24px;
    background-color: #05D3F3;
    min-height: calc(100vh + 550px);
}

.floor_7{
    margin-top: 25px;
    width: 250px;
    margin-left: 475px;
}



#marker1 {
cursor: pointer;
}

#marker2 {
cursor: pointer;
}



@media screen and (max-width: 1200px) {
    .container{
        width: 1140px;
    }
    .indent{
        margin-left: 50px;
    }
    .title{
        margin-left: 50px;
    }
    nav{
        margin-left: 400px;
    }

    .floor_1, .floor_2, .floor_3, .floor_4, .floor_5, .floor_6{
        width: 400px;
        margin-left: 370px;
    }

    .about1{
        min-height: calc(100vh + 550px);
    }
    
    .floor_7{
        width: 250px;
        margin-left: 475px;
    }
}

@media screen and (max-width: 1150px) {
    .container{
        width: 960px;
    }
    .indent{
        margin-left: 0;
        width: 490px;
    }
    .title{
        margin-left: 0;
        width: 490px;
    }
    .ship{
        width: 470px;
    }
    nav{
        margin-left: 220px;
    }

    .floor_1, .floor_2, .floor_3, .floor_4, .floor_5, .floor_6, .floor_7{
        width: 300px;
        margin-left: 330px;
    }

    .about1{
        min-height: calc(100vh + 550px);
    }
    
    .floor_7{
        width: 250px;
        margin-left: 355px;
    }
}

@media screen and (max-width: 991px) {
    .container{
        width: 720px;
    }
    .ship{
        width: 270px;
    }
    .indent, .title{
        margin-left: 0;
        width: 450px;
    }
    .about{
        min-height: calc(100vh + 30px);
    }
    nav{
        margin-left: 0;
    }

    .floor_1, .floor_2, .floor_3, .floor_4, .floor_5, .floor_6, .floor_7{
        width: 300px;
        margin-left: 210px;
    }

    .about1{
        min-height: calc(100vh + 300px);
    }
    
    .floor_7{
        width: 200px;
        margin-left: 260px;
    }
}

@media screen and (max-width: 767px) {
    .container{
        width: 540px;
    }
    .name a{
        display: none;
    }

    .indent, .title{
        margin-left: 0;
        width: 540px;
    }

    

    .title{
        margin-bottom: 20px;
    }

    

    .tabl{
        padding-top: 20px;
    }

    .about{
        min-height: calc(100vh + 70px);
    }

    #btn-menu + label{
        display: inline-block;
     }
    #btn-menu + label + .list-menu{
      display: none;
    }
    #btn-menu:checked + label + .list-menu{
      display: block;
    }
    nav{
        margin-left: 320px;
    }

    #btn-menu:checked + label:before{
        margin-top: 130px;
    }

    .ship{
        display: none;
    }

    .ship1{
        display: block;
        width: 350px;
    }

    .IMG{
        margin: 5px 100px;
    }

    .floor_1, .floor_2, .floor_3, .floor_4, .floor_5, .floor_6, .floor_7{
        width: 250px;
        margin-left: 145px;
    }

    .about1{
        min-height: calc(100vh + 100px);
    }
    
    .floor_7{
        width: 150px;
        margin-left: 195px;
    }
      
}

@media screen and (max-width: 575px) {
    .container{
        width: 100%;
        padding: 0 15px;
    }

    nav{
        margin-left: 130px;
    }

    .indent, .title{
        width: 100%;
    }

    .IMG{
        width: 100%;
    }

    .title{
        width: 100%;
    }

    .ship{
        width: 100%;
    }

    .ship{
        display: none;
    }

    .ship1{
        display: block;
        width: 250px;
    }

    .IMG{
        margin: 1px;
    }

    .about{
        min-height: calc(100vh + 200px);
    }

    .floor_1, .floor_2, .floor_3, .floor_4, .floor_5, .floor_6, .floor_7{
        width: 250px;
        margin-left: auto;
    }

    .about1{
        min-height: calc(100vh + 100px);
    }
    
    .floor_7{
        width: 150px;
        margin-left: auto;
    }
}